<div class="container">
  <div class="main-content">
    <div class="banner">
      <img src="/assets/images/Banner.png" alt="" />
    </div>
    <div class="aulaEmAndamento">
      <h3>Trilha de Programação - Nível: Novato</h3>
      <h2>Aulas em andamento</h2>
      <img src="/assets/images/Rectangle 180.png" alt="" />
    </div>
    <div class="proximosCursos">
      <h3>Trilha de Programação - Nível: Novato</h3>
      <h3>Próximos cursos</h3>
      <img src="/assets/images/Rectangle1.png" alt="" />
      <img src="/assets/images/Rectangle2.png" alt="" />
      <img src="/assets/images/Rectangle3.png" alt="" />
    </div>
  </div>
  <aside class="aside">
    <div class="card-container">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </aside>
</div>
