<nav class="navbar">
  <div class="logo"></div>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" routerLink="/cursoEmAndamento">Minha Trilha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ao-vivo">Ao vivo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mentoria">Mentoria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vagas">Vagas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vagas">Perfil</a>
    </li>
  </ul>
</nav>
