<nav class="navbar">
  <div class="logo">
    <!-- Seu código para o logo -->
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" routerLink="/cursoEmAndamento">Minha Trilha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ao-vivo">Ao Vivo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mentoria">Mentoria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vagas">Vagas</a>
    </li>
  </ul>
</nav>
